* {
  box-sizing: border-box;
}

.calc {
  display: flex;
  flex-flow: wrap;
  width: 320px;
  justify-content: space-between;
  column-gap: 5 px;
  background-color: black;
}

.display {
  width: 300px;
  height: 50px;
}
/* .all-buttons {
  flex: 0 1 calc(25% - 20px);
} */

.keys {
  background-color: blanchedalmond;
  width: 100px;
  height: 100px;
}
